# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
# импортируйте библиотеку pandas
import pandas as pd

In [2]:
#открываем данные
data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
#перебрать каждый тип занятости в наборе уникальных значений столбца income_type
for type in data['income_type'].unique():
    # на каждом шаге цикла с помощью атрибута loc выбрать строки,
    # в которых в income_type текущий тип занятости (type) и есть пропуски в total_income
    # записать в них медианное значение total_income среди строк с текущим типом занятости (income_type)
    data.loc[(data['income_type'] == type) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == type), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()
data['days_employed']

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21520      4529.316663
21521    343937.404131
21522      2113.346888
21523      3112.481705
21524      1984.507589
Name: days_employed, Length: 21525, dtype: float64

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != 20) & (data['children'] != -1)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
# ваш код здесь
for type in data['income_type'].unique():
    data.loc[(data['income_type'] == type) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == type), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype('int')

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
# посчитайте дубликаты
data.duplicated().sum()

71

In [17]:
# удалите дубликаты
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
# создайте функцию categorize_income()
def categorize_income(row):
    total_income = row['total_income']
    if total_income <= 30000:
        return 'E'
    if 30000 < total_income <=50000:
        return 'D'
    if 50000 < total_income <=200000:
        return 'C'
    if 200000 < total_income <=1000000:
        return 'B'
    if total_income > 1000000:
        return 'A'

In [19]:
# примените функцию методом apply()
data['total_income_category'] = data.apply(categorize_income, axis=1)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
# создайте функцию categorize_purpose()
def categorize_purpose(row):
    purpose = row['purpose']
    if 'образован' in purpose:
        return 'получение образования'
    if 'свадьб' in purpose:
        return 'проведение свадьбы'
    if 'авто' in purpose:
        return 'операции с автомобилем'
    if 'жиль' or 'недвиж' in purpose:
        return 'операции с недвижимостью'

In [22]:
# примените функцию методом apply()
data['purpose_category'] = data.apply(categorize_purpose, axis=1)

In [23]:
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
#С помощью сводной таблицы найдем количество клиентов в каждой группе по количеству детей, сумму случаев задолженности и долю должников. 
data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

<div style="border:solid green 2px; padding: 20px">
    
Из полученной таблицы видим, что в группе клиентов с пятью детьми задолженности нет, а с четырьмя детьми - самая большая доля задолженности. Однако, выборка клиентов в этих группах небольшая. Сгруппируем клиентов по количеству детей: без детей, до двух детей, более трёх.

In [25]:
def children_category(child):
    quantity = child['children']
    if quantity == 0:
        return 'без детей'
    if 0<quantity<3:
        return 'от 1 до 2 детей'
    if 2<quantity<6:
        return 'от 3 детей'
       
data['children_category'] = data.apply(children_category, axis = 1)

In [26]:
data.pivot_table(index=['children_category'], values = ['debt'], aggfunc = ['count', 'sum','mean'])

                   count   sum      mean
                    debt  debt      debt
children_category
без детей          14091  1063  0.075438
от 1 до 2 детей     6860   638  0.093003
от 3 детей           380    31  0.081579

<div style="border:solid green 2px; padding: 20px">
    
**Вывод:**
Самые ответственные клиенты, те у кого нет детей. Доля задолженностей по выплате кредита в этой группе 7,5% процентов. Самая большая доля клиентов с задолженностью в группе от 1 до 2 детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
family_status_grouped = data.groupby('family_status').agg({'debt': ['count', 'sum']})
family_status_grouped['conversion'] =\
family_status_grouped['debt']['sum'] / family_status_grouped['debt']['count']
family_status_grouped.sort_values(by=['conversion'])

                        debt      conversion
                       count  sum
family_status
вдовец / вдова           951   63   0.066246
в разводе               1189   84   0.070648
женат / замужем        12261  927   0.075606
гражданский брак        4134  385   0.093130
Не женат / не замужем   2796  273   0.097639

<div style="border:solid green 2px; padding: 20px">
Из полученных данных можем выделить категорию с наименьшей долей задолженности - `вдовец/вдова`, что составляет 6,6%. Скорее всего на показатели влияет возраст данных клиентов. Проверим эту гипотезу, вычеслив средний возраст каждой из группы. А проблемные категории - `гражданский брак и не женат/не замужем`, что составляет 9,3% и 9,7% соответственно. Их объединаяет отсутсвие законных отношений.

In [28]:
data.pivot_table(index=['family_status'], values = ['dob_years'], aggfunc = ['mean'])

                            mean
                       dob_years
family_status
Не женат / не замужем  38.368026
в разводе              45.561817
вдовец / вдова         56.501577
гражданский брак       42.067731
женат / замужем        43.558519

<div style="border:solid green 2px; padding: 20px">
Гипотеза про средний возраст подтвердилась - группа клиентов с семейным положением `вдовец/вдова` имеет средний возраст выше, чем в остальных группах.

<div style="border:solid green 2px; padding: 20px">
**Вывод:** 
Полученные данные позволяют сделать вывод, что семейное положение влияет на задолженность по возврату кредита в срок.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
data.pivot_table(index=['total_income_category'], values = ['debt'], aggfunc = ['count', 'sum','mean'])

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

<div style="border:solid green 2px; padding: 20px">
    
В группе `E` с низким уровнем дохода - 9% доля задолженности. Однако, выборка клиентов небольшая, всего 22 человек. А группа клиентов выше `D`, наоборот имеет самую низкую долю задолженности - 6%.

<div style="border:solid green 2px; padding: 20px">

Из-за неоднородности данных разделим их на равные сегменты для дальнейшего анализа.

In [30]:
data['total_income_qcut'] = pd.qcut(data['total_income'], q = 4)
data.pivot_table(index = ['total_income_qcut'], values = ['debt'], aggfunc = ['count', 'sum','mean'])

                      count  sum      mean
                       debt debt      debt
total_income_qcut
(20666.999, 107507.0]  5333  427  0.080068
(107507.0, 142594.0]   5450  480  0.088073
(142594.0, 195842.0]   5216  444  0.085123
(195842.0, 2265604.0]  5332  381  0.071455

<div style="border:solid green 2px; padding: 20px">
**Вывод:** 
Клиенты c уровнем дохода свыше 195 842 имеют самую низкую долю задолженности. Однако, следующими в группе идут наоборот клиенты с самым низким уровнем дохода менее 107 507. Скорее всего данная группа клиентов лучше управляет своим бюджетом, чтобы не испортить свою кредитную историю, чем клиенты со средним достатком, у которых самая большая доля задолженностей.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [31]:
data.pivot_table(index = 'purpose_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

<div style="border:solid green 2px; padding: 20px">
**Вывод:** 
Самые проблемные категории - `операции с автомобилем` и `получение образования`.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

<div style="border:solid green 2px; padding: 20px">
*Ответ:*
Причина может быть в том, что клиенты не указывали данные о продолжительности трудового стажа и уровень дохода, потому что думали, что это повлияет на одобрение кредита.
А также бывают случайные пропуски. Либо работник банка может забыть спросить клиента, либо сам клиент может случайно пропустить данный пункт при заполнении анкеты.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

<div style="border:solid green 2px; padding: 20px">
*Ответ:* 
Медианные значения более корректно помогают заполнить пропуски, так как это середина всех значений, что не искажает данные при наличии значений резко выделяющихся из массива данных.

### Шаг 4: общий вывод.

<div style="border:solid green 2px; padding: 20px">
Проанализировав данные можем сделать выводы, что `более надежные клиенты`:
- без детей
- вдовцы/вдовы 
- с уровнем дохода свыше 195 842
- с целями на кредит - проведение свадьбы и операции с недвижимостью.

`Самые проблемные группы клиентов`:
- от 1 до 2 детей
- не состоящие в законных отношениях
- со средним уровнем дохода  - от 107 507 до 142 594.
- c целями на кредит `операции с автомобилем` и `получение образования`.